# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environment variables
.env
backend/.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Database
*.db
*.sqlite
postgres_data/

# Uploads
uploads/
*.pdf

# Node / Angular
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.angular/

# OS
.DS_Store
Thumbs.db

.claude
.github
